body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-bar {
    background-color: #c7c7c7;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; /* Предотвращает выход элементов за пределы */
    position: fixed; /* Фиксируем панель в верхней части */
    top: 0; /* Устанавливаем панель в верхней части */
    left: 0; /* Устанавливаем панель на всю ширину */
    right: 0; /* Устанавливаем панель на всю ширину */
    z-index: 1000; /* Увеличиваем z-index, чтобы панель была выше других элементов */
}

#menu-toggle {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.title {
    font-weight: bold;
    margin: 0;
}

.sidebar {
    width: 100%; /* Занимает всю ширину на мобильных */
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none; /* Скрыто по умолчанию */
}

.sidebar a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 7px;
}

.sidebar a:hover {
    background-color: #ddd;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: center;
    padding-left: 170px; /* Добавляем отступ слева */
}

/* Стиль для больших экранов (ПК) */
@media (min-width: 768px) {
    body {
        flex-direction: row; /* Возвращаем горизонтальное расположение */
        padding-top: 50px; /* Добавляем отступ сверху для контента, чтобы он не перекрывался .top-bar */
    }
    
    .sidebar {
        width: 130px;
        display: block; /* Отображаем боковую панель на больших экранах */
        height: calc(100% - 50px); /* Корректируем высоту боковой панели с учетом .top-bar */
        position: fixed; /* Фиксируем боковую панель слева */
        top: 50px; /* Отступ сверху для боковой панели */
        left: 0; /* Устанавливаем боковую панель слева */
        overflow-y: auto; /* Добавляем прокрутку для боковой панели при необходимости */
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Тень для боковой панели */
    }
}

.book-title {
    background-color: #333; /* Темный фон для заголовка книги */
    color: white;
    padding: 20px; /* Увеличен отступ */
    text-align: left;
    font-size: 26px; /* Увеличен размер шрифта заголовка книги */
    margin-bottom: 25px; /* Увеличен отступ между заголовком и содержимым */
}

.book-image {
    margin-right: 20px; /* Увеличен отступ справа */
}

.book-image img {
    max-width: 100%;
    border-radius: 8px; /* Закругленные углы изображения */
}

.book-details {
    display: flex;
    flex-direction: row; /* Горизонтальное расположение */
    margin-bottom: 25px; /* Отступ между описанием и содержимым */
}

.book-description,
.book-content {
    background-color: #f4f4f4; /* Более светлый фон для описания и контента */
    padding: 20px; /* Увеличен отступ для лучшего восприятия текста */
    text-align: left;
    border-radius: 8px; /* Закругленные углы для описания и контента */
}

.book-info {
    width: 100%;
}

.info-title {
    background-color: #333; 
    color: white; 
    padding: 15px; /* Увеличен отступ для заголовка информации */
    text-align: center; 
}

.book-author-year {
    background-color: #eaeaea; 
    color: #000000; 
    padding: 10px; /* Увеличен отступ для лучшего восприятия текста */
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 767px) {
    .book-image {
        margin-right: 0px; /* Увеличен отступ справа */
    }
   .book-details {
        flex-direction: column; /* Вертикальное расположение на мобильных */
        align-items:center; 
   }
   
   .book-title,
   .book-description,
   .book-author-year {
        width:auto; 
        text-align:center; 
   }
   .content {
        flex: 1;
        padding: 20px;
        text-align: center;
        padding-left: 20px; /* Добавляем отступ слева */
        margin-top: 50px;
    }
}

/* Медиа-запросы для больших экранов */
@media (min-width: 768px) {

    body {
        flex-direction: row; /* Возвращаем горизонтальное расположение */
    }
    .sidebar {
        width: 130px;
        display: block; /* Отображаем боковую панель на больших экранах */
    }
   
   .book-details {
        flex-direction: row;
   }

}