body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-bar {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; /* Предотвращает выход элементов за пределы */
}

#menu-toggle {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.title {
    font-weight: bold;
    margin: 0;
}

.sidebar {
    width: 100%; /* Занимает всю ширину на мобильных */
    background-color: #f4f4f4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none; /* Скрыто по умолчанию */
}

.sidebar a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 7px;
}

.sidebar a:hover {
    background-color: #ddd;
}
.content {
    flex: 1;
    padding: 10px;
}

h1 {
    text-align: center;
}

.book-item {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    transition: transform 0.2s;
    width: 100%; 
    max-width: 180px; 
    height: auto; 
    margin: 1px;
}

.book-item:hover {
    transform: scale(1.05);
}

.book-image {
    position: relative;
}

.book-image img {
    width: 100%; /* Изображение занимает 100% ширины контейнера */
    height: auto; /* Высота изображения автоматически подстраивается */
}

.book-description {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    opacity: 0.8;
    transition: opacity 0.3s; /* Плавное появление описания */
}

.book-image:hover .book-description {
    display: block;
    opacity: 1; /* Полная непрозрачность при наведении */
}

.book-name {
    text-align: center;
    padding: 1px;
    font-weight: bold;
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 10px; /* Размер шрифта */
}

/* Для всех ссылок внутри book-item, чтобы убрать подчеркивание */
.book-item a {
    text-decoration: none; /* Убираем подчеркивание для всех ссылок в book-item */
    color: inherit; /* Устанавливаем цвет текста как у родителя (book-name) */
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 10px;
    opacity: 0; /* Начальное состояние для анимации */
    transition: opacity 0.5s ease; /* Плавный переход для анимации */
}

.book-year {
    position: absolute; /* Позиционируем год над изображением */
    top: 5px; /* Расстояние от верхней части изображения */
    right: 5px; /* Расстояние от правой части изображения */
    color: rgb(255, 255, 255); /* Цвет текста - белый */
    text-shadow: 
        -1px -1px 0 rgba(0, 0, 0, 1),  
        1px -1px 0 rgba(0, 0, 0, 1),  
        -1px 1px 0 rgba(0, 0, 0, 1),  
        1px 1px 0 rgba(0, 0, 0, 1); /* Черная обводка текста */
    z-index: 1; /* Убедитесь, что элемент отображается поверх других */
}



#searchInput {
    width: 100%;
    max-width: 400px; /* Устанавливаем максимальную ширину */
    padding: 10px;
    margin: 20px auto; /* Центрируем элемент */
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.3s ease; /* Добавляем плавную анимацию */
}

.book-count {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Медиа-запрос для больших экранов */
@media (min-width: 768px) {
    body {
        flex-direction: row;
    }
    .sidebar {
        width: 130px;
        display: block;
    }
    .content {
        margin-left: 50px;
    }
    .top-bar {
        display: none;
    }
    .book-grid {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Более широкие колонки для больших экранов */
    }
    .book-item {
        max-width: 180px; /* Уменьшение максимальной ширины для маленьких экранов */
        height: 190px; /* Уменьшение высоты для маленьких экранов */
    }
    #searchInput {
        max-width: 90%; /* Уменьшаем ширину на мобильных */
    }
}

/* Медиа-запрос для маленьких экранов */
@media (max-width: 480px) {
    #searchInput {
        max-width: 90%; /* Уменьшение максимальной ширины для мобильных устройств */
        margin: 10px auto; /* Центрирование элемента */
    }
}

.category-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.category-button {
    background-color: white; /* Изменяем цвет на белый */
    color: #333; /* Темный текст для контраста */
    padding: 15px 30px; /* Увеличиваем отступы */
    margin: 10px; /* Увеличиваем отступ между кнопками */
    border: 1px solid #ccc; /* Добавляем рамку для выделения */
    border-radius: 8px; /* Увеличиваем радиус скругления */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Плавный переход для фона и трансформации */
    font-size: 16px; /* Увеличиваем размер шрифта */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Добавляем тень для глубины */
}

.category-button:hover {
    background-color: #f0f0f0; /* Светло-серый фон при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}

/* Адаптивные стили для маленьких экранов */
@media (max-width: 480px) {
    .category-button {
        padding: 10px 20px; /* Уменьшаем отступы на мобильных */
        font-size: 14px; /* Уменьшаем размер шрифта на мобильных */
    }
}

