body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-bar {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; /* Предотвращает выход элементов за пределы */
}

#menu-toggle {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.title {
    font-weight: bold;
    margin: 0;
}

.sidebar {
    width: 100%; /* Занимает всю ширину на мобильных */
    background-color: #f4f4f4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none; /* Скрыто по умолчанию */
}

.sidebar a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 7px;
}

.sidebar a:hover {
    background-color: #ddd;
}

.content {
    flex: 1;
    padding: 8px; /* Уменьшен отступ */
}

.book-title {
    background-color: black;
    color: white;
    padding: 10px; /* Уменьшен отступ */
    text-align: left;
    font-size: 20px; /* Уменьшен размер шрифта */
    margin-bottom: 15px; /* Уменьшен отступ */
}


.book-details {
    display: flex;
    flex-direction: row; /* Горизонтальное расположение на ПК */
    margin-bottom: 15px; /* Уменьшен отступ */
}

.book-image {
    margin-right: 10px; /* Уменьшен отступ справа */
    width: auto; /* Автоматическая ширина для изображения */
}

.book-image img {
    max-width: 100%;
    height: auto; 
}

.book-description {
    background-color: #e0e0e0; 
    padding: 10px; /* Уменьшен отступ */
    text-align: left; 
}

.book-info {
    width: 100%; 
}

.info-title {
    background-color: black; 
    color: white; 
    padding: 8px; /* Уменьшен отступ */
    text-align: center; 
}

.book-author-year {
    background-color: #e0e0e0; 
    color: #000000; 
    padding: 4px; /* Уменьшен отступ */
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 767px) {

   .book-details {
        flex-direction: column; /* Вертикальное расположение на мобильных */
        align-items:center; /* Центрирование содержимого */
   }
   
   .book-title,
   .book-description,
   .book-author-year {
        width:auto; /* Автоматическая ширина для лучшего размещения */
        text-align:center; /* Центрирование текста */
   }
}

/* Медиа-запрос для больших экранов */
@media (min-width: 768px) {

   body {
        flex-direction: row; 
   }
   
   .sidebar {
        width: 130px; 
        display:block; 
   }
   
   .content {
        margin-left: 30px; /* Уменьшен отступ слева */
   }
   
   .top-bar {
        display:none; 
   }
   
   .book-details {
        flex-direction: row; /* Горизонтальное расположение на больших экранах */
   }
}
