body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-bar {
    background-color: #c7c7c7;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; /* Предотвращает выход элементов за пределы */
    position: fixed; /* Фиксируем панель в верхней части */
    top: 0; /* Устанавливаем панель в верхней части */
    left: 0; /* Устанавливаем панель на всю ширину */
    right: 0; /* Устанавливаем панель на всю ширину */
    z-index: 1000; /* Увеличиваем z-index, чтобы панель была выше других элементов */
}

#menu-toggle {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.title {
    font-weight: bold;
    margin: 0;
}

.sidebar {
    width: 100%; /* Занимает всю ширину на мобильных */
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none; /* Скрыто по умолчанию */
}

.sidebar a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 7px;
}

.sidebar a:hover {
    background-color: #ddd;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

/* Стиль для больших экранов (ПК) */
@media (min-width: 768px) {
    body {
        flex-direction: row; /* Возвращаем горизонтальное расположение */
        padding-top: 50px; /* Добавляем отступ сверху для контента, чтобы он не перекрывался .top-bar */
    }
    
    .sidebar {
        width: 130px;
        display: block; /* Отображаем боковую панель на больших экранах */
        height: calc(100% - 50px); /* Корректируем высоту боковой панели с учетом .top-bar */
        position: fixed; /* Фиксируем боковую панель слева */
        top: 50px; /* Отступ сверху для боковой панели */
        left: 0; /* Устанавливаем боковую панель слева */
        overflow-y: auto; /* Добавляем прокрутку для боковой панели при необходимости */
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Тень для боковой панели */
    }
}
